* {
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background: url('https://i.imgur.com/pdYSl4J.png') no-repeat center center fixed;
	background-size: cover;
}

input {
	margin: 10px;
	padding: 10px;
	width: 200px;
	border: 1px solid #b9b7af;
	border-radius: 5px;
	text-align: left;
	background: #ebe9e2;
	outline: none;

	&[type='submit'] {
		background-color: #4caf50;
		color: white;
		border: none;
		transition: background-color 0.3s ease;
		text-align: center;
		font-weight: bold;
		cursor: pointer;

		&:hover {
			background-color: #327f36;
		}
	}

	&[type='number']:focus {
		border-color: #4caf50;
		box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
		font-weight: bold;
	}

	&[type='range'] {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
}

select {
	margin: 10px;
	padding: 10px;
	width: 200px;
	border: 1px solid #b9b7af;
	border-radius: 5px;
	text-align: left;
	background: #ebe9e2;
	outline: none;

	&:focus {
		border-color: #4caf50;
		box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
		font-weight: bold;
	}
}

label {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

#form {
	margin: 100px auto 50px auto;
	width: 300px;
	background-color: #edeae3;
	padding: 20px;
	border: 1px solid #cfcdc5;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
}

#github-corner {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	background-color: #d7d7d7;
	border-radius: 0 0 0 30px;
	transition: all 0.3s ease-in-out;

	&:hover {
		width: 80px;
		height: 80px;
		background-color: #575757;
	}

	img {
		border-radius: 50%;
	}
}

#frequencies {
	margin-top: 20px;
	width: 100%;

	#frequencies-controls,
	#frequencies-labels,
	#frequencies-values {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	#frequencies-controls {
		input {
			width: 30px;
		}
	}

	#frequencies-labels {
		label {
			width: 50px;
		}
	}

	#frequencies-values {
		span {
			width: 50px;
			font-size: 12px;
			font-weight: bold;
		}
	}
}

button {
	width: 200px;
	margin: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #704caf;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #5a2fa0;
	}
}

#submitters {
	width: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: 0 auto;

	#play-button,
	#record-button {
		font-size: 1.5rem;
		margin: 10px 0;
		height: 40px;
		line-height: 1.3rem;
	}

	#play-button {
		width: 70%;

		&[value='⏹'] {
			line-height: 1.6rem;
			background-color: #f44336;

			&:hover {
				background-color: #c62828;
			}
		}
	}

	#record-button {
		width: 30%;
		line-height: 1.5rem;
		background-color: #f44336;

		&:hover {
			background-color: #c62828;
		}
	}
}

#advanced-settings {
	display: none;
	border-top: 1px solid #cfcdc5;
	border-bottom: 1px solid #cfcdc5;
	margin: 20px 0;
	padding: 20px 0;

	&.open {
		display: block;
	}
}

#tabs {
	div {
		font-size: 16px;
		font-weight: bold;
		white-space: pre;
	}

	&:empty + #oscilloscope {
		display: none;
	}
}

#oscilloscope {
	display: block;
	margin: 50px auto;
	border: 1px solid #cfcdc5;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	max-width: 90%;
}
